*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    text-align: center;
    background-image: url(./assets/fondobosque.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.container{
    width: 100%;
    max-width: 400px;
    background-color: rgba(0,0,0,0.501);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container h1{
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input {
    margin: 0 auto;
    width: 75%;
    height: 15%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1vw;
    color: #fff;
    background-color: rgb(28,28,30);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 20px;
    transition: .4s;
  }
  
  @media screen and (max-width:1920px){
    .input{
      font-size: larger;
    }
  }


 

  .input:hover {
    box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
  }
  
  .input:focus {
    box-shadow: 0 0 0 .15vw skyblue;
  }

  .input::placeholder{
    color: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
  }

  .lista{
    cursor: pointer;
  }
   
.btn {
    width: 300px;
    margin: 0 auto;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #FFF;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    z-index: 0;
    border-radius: 12px;
   }
   
   .btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 46, 46);
    left: 0;
    top: 0;
    border-radius: 10px;
   }
   
   .btn::before {
    content: "";
    background: linear-gradient(
       45deg,
       #FF0000, #002BFF, #FF00C8, #002BFF,
         #FF0000, #002BFF, #FF00C8, #002BFF
   );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
   }
   
   @keyframes glowing {
    0% {
     background-position: 0 0;
    }
   
    50% {
     background-position: 400% 0;
    }
   
    100% {
     background-position: 0 0;
    }
   }
   
   
   .btn:hover::before {
    opacity: 1;
   }
   
   .btn:active:after {
    background: transparent;
   }
   
   .btn:active {
    color: #000;
    font-weight: bold;
   }

.clima{
    width: 100%;
    max-width: 400px;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 10px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self:center;
}

.clima h3{
    font-size: 1rem;
    display: block;
    font-weight: 400;
    color: rgb(248,251,232);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}


.ui-loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }
  
  .loader-blk {
    color: #3f51b5;
    animation: rotate-outer08 1.4s linear infinite;
  }
  
  .multiColor-loader {
    display: block;
    animation: color-anim08 1.4s infinite;
  }
  
  .loader-circle {
    stroke: currentColor;
  }
  
  .MuiCircularProgress-circleStatic {
    transition: stroke-dashoffset 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  }
  
  .loader-circle-animation {
    animation: rotate-inner08 1.4s ease-in-out
      infinite;
    stroke-dasharray: 80px, 200px;
    stroke-dashoffset: 0;
  }
  .by{
    text-decoration: none;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }



  @keyframes rotate-inner08 {
    0% {
      stroke-dasharray: 1px, 200px;
      stroke-dashoffset: 0;
    }
  
    50% {
      stroke-dasharray: 100px, 200px;
      stroke-dashoffset: -15px;
    }
  
    100% {
      stroke-dasharray: 100px, 200px;
      stroke-dashoffset: -125px;
    }
  }
  
  @keyframes color-anim08 {
    0% {
      color: #4285f4;
    }
  
    25% {
      color: #ea4335;
    }
  
    50% {
      color: #f9bb2d;
    }
  
    75% {
      color: #34a853;
    }
  }
  
 